/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */

html {
    --szer-ski: 70vw;
    --wys-ski: 90vh;
    /* srednica glowy: */
    --dglowa: calc(var(--szer-ski)/7);
    --bgcr-ski: #888;
    --bgcr-ski2: #788;
    font-family: Verdana, Arial, sans-serif;
}

body {
    background-color: #fef3dd;
}

#container {
    position: relative;
    width: var(--szer-ski);
    height: var(--wys-ski);
    margin-top: calc(calc(100vh - var(--wys-ski))/2);
    margin-left: auto;
    margin-right: auto;
    background-color: #aaa;
    padding-top: 10px;
}

div {
    position: absolute;
    text-align: center;
    cursor: pointer;
    background-color: #888;
    transition: .3s;
}

@media (min-width:1024px) {
    div:hover {
        background-color: var(--bgcr-ski2);
        box-shadow: 1px 1px grey;
    }
}

div#glowa {
    left: calc(var(--dglowa)*3);
    width: var(--dglowa);
    height: var(--dglowa);
    border-radius: 50%;
    /* border: 10px solid black; */
    box-sizing: border-box;
    border-top: 15px solid #0005;
    border-bottom: 1px solid black;
    z-index: 1;
}

div#szyja {
    left: calc(var(--dglowa)*3.155);
    width: calc(var(--dglowa)/1.5);
    height: calc(var(--dglowa)/2.25);
    top: calc(1*var(--dglowa) + 5px);
}

div#brzuch {
    left: calc(var(--dglowa)*2.5);
    top: calc(var(--dglowa)*1.5);
    width: calc(var(--dglowa)*2);
    height: calc(var(--dglowa)*1.5);
    z-index: 1;
    margin-left: 2px;
}

div p {
    font-weight: bolder;
}

div#brzuch p, div#lnoga p, div#pnoga p {
    font-size: 2.5em;
    line-height: calc(var(--dglowa)*1.0);
}

div#lreka p, div#preka p {
    font-size: 2.5em;
    line-height: 0.3em;
}

div#szyja p {
    font-size: 2.3em;
    line-height: 0.1em;
}

div#glowa p {
    margin-top: 10px;
}

@media (max-width:1024px) {
    div#brzuch p, div#lnoga p, div#pnoga p {
        font-size: 1em;
    }
    div#lreka p, div#preka p {
        font-size: 1em;
        line-height: 0.1em;
    }
    div#szyja p {
        font-size: 1em;
        line-height: 0.005em;
    }
}

div#preka {
    left: calc(var(--dglowa)/1);
    top: calc(var(--dglowa)*1.5);
    width: calc(var(--dglowa)*1.5);
    height: calc(var(--dglowa)/2);
}

div#lreka {
    left: calc(var(--dglowa)*4.5);
    top: calc(var(--dglowa)*1.5);
    width: calc(var(--dglowa)*1.5);
    height: calc(var(--dglowa)/2);
    margin-left: 4px;
}

div#pnoga {
    left: calc(var(--dglowa)*2.51 + 1px);
    top: calc(var(--dglowa)*3);
    width: calc(var(--dglowa)/1.4);
    height: calc(var(--dglowa)*1.5);
    margin-top: 2px;
}

div#lnoga {
    left: calc(var(--dglowa)*3.8);
    top: calc(var(--dglowa)*3);
    width: calc(var(--dglowa)/1.4);
    height: calc(var(--dglowa)*1.5);
    margin-top: 2px;
}

.czlonek {
    /* wszystko, oprócz głowy */
    border-radius: 5px;
}

/* Pojawia się napis zalecający zmianę orientacji przy wąskich urządzeniach: */

div#ostrzezenie {
    display: none;
}

@media (max-width:800px) and (orientation: portrait) {
    div#ostrzezenie {
        display: block;
        background-color: red;
        left: 25%;
        right: 25%;
        bottom: 0;
        font-size: 1em;
    }
}